/* change color of nav pills */
.nav-pills .nav-link:not(.active) {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: lightgrey;
    color: black;
}

.nav-pills .nav-link:not(.active):hover {
    background-color: #454d54;
}

/* adapt alert line-height to button size */
.alert {
  line-height:15px;
}

/* change color of login and logout button */
.btn-outline-light {
  border-color: lightgrey;
}

.btn-outline-light:hover {
  background-color: lightgrey;
  border-color: lightgrey;
}

/* change color of user icons */
.fa-user-plus, .fa-user-edit, .fa-user-minus, .fa-question {
  color: white;
}

.fa-user-plus:hover, .fa-user-edit:hover, .fa-user-minus:hover, .fa-question:hover {
  color: lightgrey;
}

.user-link-faq{
  color: black;
  text-decoration: none;
}

.user-link-faq:hover{
  color: grey;
  text-decoration: none;
}
