.nav-pills .nav-link:not(.active) {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: lightgrey;
    color: black;
}

.alert {
  line-height:15px;
}

.alert-trim {
  display: inline-block;
}
