/* change color of nav pills */
.nav-pills .nav-link:not(.active) {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: lightgrey;
    color: black;
}

.nav-pills .nav-link:not(.active):hover {
    background-color: #454d54;
}

/* ????? */
.alert {
  line-height:15px;
}

.alert-trim {
  display: inline-block;
}

/* fix position of loading spinner */
.center-parent-regular {
  position: relative;
}
.center-child-regular {
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}

.center-parent-dropdown {
  position: relative;
}
.center-child-dropdown {
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
}

/* change color of login and logout button */
.btn-outline-light {
  border-color: lightgrey;
}

.btn-outline-light:hover {
  background-color: lightgrey;
  border-color: lightgrey;
}

/* change color of user icons */
.fa-user-plus, .fa-user-edit, .fa-user-minus {
  color: white;
}

.fa-user-plus:hover, .fa-user-edit:hover, .fa-user-minus:hover {
  color: lightgrey;
}
